<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
        <link rel = "stylesheet" th:href="@{/css/styles.css}" />
<body>
<!-- Section-->
<section layout:fragment="section" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div th:if="${param.success}" class="alert alert-success">
                Register Successfull
            </div>

            <div th:each="club :${clubs}" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="${club.photoUrl}" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 th:text="${club.title}" class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a th:href="@{/clubs/{id}(id=${club.id})}" class="btn btn-outline-success mt-auto" >View</a>
                            <a th:href="@{/clubs/{id}/edit(id=${club.id})}" class="btn btn-outline-dark mt-auto" >Edit</a>
                            <a th:href="@{/clubs/{id}/delete(id=${club.id})}" class="btn btn-danger mt-auto" >Delete</a>
                            <a th:href="@{/events/{id}/new(id=${club.id})}" class="btn btn-outline-info mt-2" >Event</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Footer-->


</body>
</html>
